# Dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environnement
.env
.env.local
.env.*.local
!.env.example

# Build
dist/
build/
.next/
out/

# Logs
logs/
*.log
npm-debug.log*

# Database
*.mdf
*.ldf

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db